#Use Case:

The data scientists at BigMart have collected 2013 sales data for 1559 products across 10 stores in different cities. Also, certain attributes of each product and store have been defined. The aim is to build a predictive model and predict the sales of each product at a particular outlet.

Using this model, BigMart will try to understand the properties of products and outlets which play a key role in increasing sales.

Please note that the data may have missing values as some stores might not report all the data due to technical glitches. Hence, it will be required to treat them accordingly. 


**Data Dictionary**

We have train (8523) and test (5681) data set, train data set has both input and output variable(s). You need to predict the sales for test data set.


CSV containing the item outlet information with sales value

![](https://i.imgur.com/llSNZY7.jpg)

In [ ]:
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

# read the dataset
data_BM = pd.read_csv('bigmart_data.csv')
data_BM.head()

Saving bigmart_data.csv to bigmart_data.csv

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
data_BM.isnull()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,True,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
data_BM.isna()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,True,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
data_BM.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
data_BM.shape

(8523, 12)

In [ ]:
data_BM.shape[0]

8523

In [ ]:
data_BM.isna().sum()/data_BM.shape[0]

Item_Identifier              0.000000
Item_Weight                  0.171653
Item_Fat_Content             0.000000
Item_Visibility              0.000000
Item_Type                    0.000000
Item_MRP                     0.000000
Outlet_Identifier            0.000000
Outlet_Establishment_Year    0.000000
Outlet_Size                  0.282764
Outlet_Location_Type         0.000000
Outlet_Type                  0.000000
Item_Outlet_Sales            0.000000
dtype: float64

In [ ]:
data_BM.isna().sum()*100/data_BM.shape[0]

Item_Identifier               0.000000
Item_Weight                  17.165317
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

In [ ]:
round(data_BM.isna().sum()*100/data_BM.shape[0],2)

Item_Identifier               0.00
Item_Weight                  17.17
Item_Fat_Content              0.00
Item_Visibility               0.00
Item_Type                     0.00
Item_MRP                      0.00
Outlet_Identifier             0.00
Outlet_Establishment_Year     0.00
Outlet_Size                  28.28
Outlet_Location_Type          0.00
Outlet_Type                   0.00
Item_Outlet_Sales             0.00
dtype: float64

In [ ]:
# drop the null values
data_BM = data_BM.dropna()
# reset index after dropping
data_BM.head()
# view the top results

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

In [ ]:
data_BM.reset_index(inplace=True)

# data_BM=data_BM.reset_index(drop=True)

In [ ]:
data_BM.head()

,index,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

In [ ]:
data_BM=data_BM.drop('index',axis=1)

In [ ]:
data_BM

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
...,...,...,...,...,...,...,...,...,...,...,...,...
4645,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
4646,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
4647,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
4648,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
4649,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

### Apply function

- Apply function can be used to perform pre-processing/data-manipulation on your data both row wise and column wise.
- It is a faster method than simply using a **for** loop over your dataframe.
- Almost every time I need to iterate over a dataframe or it's rows/columns, I will think of using the `apply`.
- Hence, it is widely used in feature engineering code.

In [ ]:
# accessing row wise
data_BM.apply(lambda x: x)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
...,...,...,...,...,...,...,...,...,...,...,...,...
4645,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
4646,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
4647,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
4648,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
4649,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [ ]:
# access first row
data_BM.apply(lambda x: x[0])

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                       0.016047
Item_Type                                Dairy
Item_MRP                              249.8092
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                     3735.138
dtype: object

In [ ]:
# accessing column wise
data_BM.apply(lambda x: x, axis=1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
...,...,...,...,...,...,...,...,...,...,...,...,...
4645,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
4646,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
4647,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
4648,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
4649,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [ ]:
# access first column by index
data_BM.apply(lambda x: x[0], axis=1)

0       FDA15
1       DRC01
2       FDN15
3       NCD19
4       FDP36
        ...
4645    FDF53
4646    FDF22
4647    NCJ29
4648    FDN46
4649    DRG01
Length: 4650, dtype: object

In [ ]:
# access by column name
data_BM.apply(lambda x: x["Item_Fat_Content"], axis=1)

0       Low Fat
1       Regular
2       Low Fat
3       Low Fat
4       Regular
         ...
4645        reg
4646    Low Fat
4647    Low Fat
4648    Regular
4649    Low Fat
Length: 4650, dtype: object

- You can also use `apply` to implement a **condition** individually on every row/column of your dataframe.
- Suppose you want to clip Item_MRP to 200 and not consider any value greater than that.
```python
def clip_price(price):
    if price > 200:
        price = 200
    return price
```

In [ ]:
# before clipping
data_BM["Item_MRP"][:5]

0    249.8092
1     48.2692
2    141.6180
3     53.8614
4     51.4008
Name: Item_MRP, dtype: float64

In [ ]:
# clip price if it is greater than 200
def clip_price(price):
    if price > 200:
        price = 200
    return price

# after clipping
data_BM["Item_MRP"].apply(lambda x: clip_price(x))

0       200.0000
1        48.2692
2       141.6180
3        53.8614
4        51.4008
          ...
4645    178.8318
4646    200.0000
4647     85.1224
4648    103.1332
4649     75.4670
Name: Item_MRP, Length: 4650, dtype: float64

- Suppose you want to label encode Outlet_Location_Type as 0, 1 and 2 for Tier 1, Tier 2 and Tier 3 city, your logic would be:

```python
def label_encode(city):
    if city == 'Tier 1':
        label = 0
    elif city == 'Tier 2':
        label = 1
    else:
        label = 2
    return label
```
- You can use the `apply` to operate `label_encode` logic on every row of the Outlet_Location_Type column.

In [ ]:
data_BM["Outlet_Location_Type"]

0       Tier 1
1       Tier 3
2       Tier 1
3       Tier 3
4       Tier 3
         ...
4645    Tier 1
4646    Tier 3
4647    Tier 2
4648    Tier 3
4649    Tier 1
Name: Outlet_Location_Type, Length: 4650, dtype: object

In [ ]:
data_BM["Outlet_Location_Type"].value_counts()

0    1860
2    1860
1     930
Name: Outlet_Location_Type, dtype: int64

In [ ]:
# label encode city type
def label_encode(city):
    if city == 'Tier 1':
        label = 0
    elif city == 'Tier 2':
        label = 1
    else:
        label = 2
    return label

# operate label_encode on every row of Outlet_Location_Type
data_BM["Outlet_Location_Type"] = data_BM["Outlet_Location_Type"].apply(label_encode)

In [ ]:
# after label encoding
data_BM["Outlet_Location_Type"][:5]

0    0
1    2
2    0
3    2
4    2
Name: Outlet_Location_Type, dtype: int64

In [ ]:
# label encode city type
def label_encode1(size):
    if size == 'Small':
        label = 0
    elif size == 'Medium':
        label = 1
    else:
        label = 2
    return label


data_BM["Outlet_Size"]=data_BM["Outlet_Size"].apply(lambda x: label_encode1(x))

In [ ]:
data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,1,0,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,1,2,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,1,0,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,2,2,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,1,2,Supermarket Type2,556.6088

Pandas library of python is very useful for the manipulation of mathematical data and is widely used in the field of machine learning.It comprises 
many methods for its proper functioning. loc() and iloc() are one of those methods. These are used in slicing data from the Pandas DataFrame. 

The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). Many operations can be performed using the loc() method

In [ ]:
data_BM = pd.read_csv('bigmart_data.csv')
data_BM

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [ ]:
dairy=data_BM.loc[data_BM['Item_Type']=='Dairy']

In [ ]:
dairy

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,2004,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,2007,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392

In [ ]:
dairy_medium1=data_BM.loc[(data_BM['Item_Type']=='Dairy') & (data_BM['Outlet_Size']=='Medium')]
dairy_medium1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
91,DRG27,8.895,Low Fat,0.105274,Dairy,39.9138,OUT049,1999,Medium,Tier 1,Supermarket Type1,690.4346
198,FDE40,NaN,Regular,0.098664,Dairy,62.9194,OUT027,1985,Medium,Tier 3,Supermarket Type3,2105.2596
293,FDH27,7.075,Low Fat,0.058585,Dairy,142.7128,OUT018,2009,Medium,Tier 3,Supermarket Type2,1869.5664
368,FDL51,20.700,Regular,0.047685,Dairy,212.5876,OUT018,2009,Medium,Tier 3,Supermarket Type2,1286.3256
...,...,...,...,...,...,...,...,...,...,...,...,...
8168,FDV38,19.250,Low Fat,0.101932,Dairy,54.5956,OUT049,1999,Medium,Tier 1,Supermarket Type1,764.3384
8182,DRF27,8.930,Low Fat,0.028533,Dairy,151.4340,OUT018,2009,Medium,Tier 3,Supermarket Type2,1225.0720
8280,FDB03,17.750,Regular,0.157471,Dairy,239.1538,OUT018,2009,Medium,Tier 3,Supermarket Type2,4326.3684
8306,FDV50,14.300,Low Fat,0.122762,Dairy,124.3730,OUT049,1999,Medium,Tier 1,Supermarket Type1,2093.9410
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410

In [ ]:
dairy_medium=data_BM.loc[(data_BM['Item_Type']=='Dairy') & (data_BM['Outlet_Size']=='Medium')]

In [ ]:
dairy_medium=data_BM.loc[(data_BM['Item_Type']=='Dairy') & (data_BM['Outlet_Size']=='Medium')]

In [ ]:
dairy_medium

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
91,DRG27,8.895,Low Fat,0.105274,Dairy,39.9138,OUT049,1999,Medium,Tier 1,Supermarket Type1,690.4346
198,FDE40,NaN,Regular,0.098664,Dairy,62.9194,OUT027,1985,Medium,Tier 3,Supermarket Type3,2105.2596
293,FDH27,7.075,Low Fat,0.058585,Dairy,142.7128,OUT018,2009,Medium,Tier 3,Supermarket Type2,1869.5664
368,FDL51,20.700,Regular,0.047685,Dairy,212.5876,OUT018,2009,Medium,Tier 3,Supermarket Type2,1286.3256
...,...,...,...,...,...,...,...,...,...,...,...,...
8168,FDV38,19.250,Low Fat,0.101932,Dairy,54.5956,OUT049,1999,Medium,Tier 1,Supermarket Type1,764.3384
8182,DRF27,8.930,Low Fat,0.028533,Dairy,151.4340,OUT018,2009,Medium,Tier 3,Supermarket Type2,1225.0720
8280,FDB03,17.750,Regular,0.157471,Dairy,239.1538,OUT018,2009,Medium,Tier 3,Supermarket Type2,4326.3684
8306,FDV50,14.300,Low Fat,0.122762,Dairy,124.3730,OUT049,1999,Medium,Tier 1,Supermarket Type1,2093.9410
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410

In [ ]:
dairy_medium['Outlet_Establishment_Year'].unique()

array([1999, 1985, 2009])

In [ ]:
dairy_medium['Outlet_Establishment_Year'].value_counts()

1999    78
2009    73
1985    67
Name: Outlet_Establishment_Year, dtype: int64

In [ ]:
dairy_medium['Outlet_Establishment_Year'].nunique()

3

In [ ]:
dairy_medium_99=data_BM.loc[(data_BM['Item_Type']=='Dairy') & (data_BM['Outlet_Size']=='Medium') & (data_BM['Outlet_Establishment_Year']>1999)]
dairy_medium_99

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
293,FDH27,7.075,Low Fat,0.058585,Dairy,142.7128,OUT018,2009,Medium,Tier 3,Supermarket Type2,1869.5664
368,FDL51,20.700,Regular,0.047685,Dairy,212.5876,OUT018,2009,Medium,Tier 3,Supermarket Type2,1286.3256
412,FDZ38,17.600,Low Fat,0.008034,Dairy,174.2422,OUT018,2009,Medium,Tier 3,Supermarket Type2,4311.0550
423,FDA27,20.350,Regular,0.000000,Dairy,256.7672,OUT018,2009,Medium,Tier 3,Supermarket Type2,5624.6784
464,DRI51,17.250,Low Fat,0.042414,Dairy,173.1764,OUT018,2009,Medium,Tier 3,Supermarket Type2,4466.1864
...,...,...,...,...,...,...,...,...,...,...,...,...
8103,FDT02,12.600,LF,0.024293,Dairy,33.4874,OUT018,2009,Medium,Tier 3,Supermarket Type2,105.8622
8159,FDC15,18.100,Low Fat,0.178694,Dairy,158.9288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8182,DRF27,8.930,Low Fat,0.028533,Dairy,151.4340,OUT018,2009,Medium,Tier 3,Supermarket Type2,1225.0720
8280,FDB03,17.750,Regular,0.157471,Dairy,239.1538,OUT018,2009,Medium,Tier 3,Supermarket Type2,4326.3684
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410

In [ ]:
dairy_medium_99_150=dairy_medium_99[dairy_medium_99['Item_MRP']>150]
print(dairy_medium_99_150)
print(dairy_medium_99_150.shape)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility Item_Type  \
368            FDL51       20.700          Regular         0.047685     Dairy
412            FDZ38       17.600          Low Fat         0.008034     Dairy
423            FDA27       20.350          Regular         0.000000     Dairy
464            DRI51       17.250          Low Fat         0.042414     Dairy
653            DRF15       18.350          Low Fat         0.033349     Dairy
657            FDD03       13.300          Low Fat         0.080131     Dairy
887            FDY27        6.380          Low Fat         0.032028     Dairy
1190           FDM39        6.420          Low Fat         0.053688     Dairy
1647           FDL39       16.100          Regular         0.063589     Dairy
1648           FDV02       16.750          Low Fat         0.060792     Dairy
2151           FDC39        7.405          Low Fat         0.159844     Dairy
2165           DRJ39       20.250          Low Fat         0.036474     Dairy
2227           FDA38        5.440          Low Fat         0.025584     Dairy
2643           FDA15        9.300          Low Fat         0.016088     Dairy
3496           FDF39       14.850          Regular         0.019591     Dairy
3577           FDB52       17.750          Low Fat         0.030560     Dairy
3985           FDX02       16.000          Low Fat         0.057293     Dairy
4396           FDB15       10.895          Low Fat         0.137368     Dairy
4633           FDR26       20.700          Low Fat         0.043011     Dairy
4850           FDZ26       11.600          Regular         0.144604     Dairy
5342           FDY26       20.600          Regular         0.030635     Dairy
5585           FDY02        8.945          Regular         0.088003     Dairy
5750           FDV26       20.250          Regular         0.076471     Dairy
6396           FDZ03       13.650          Regular         0.000000     Dairy
6457           FDW50       13.100          Low Fat         0.075886     Dairy
6562           FDD39       16.700          Low Fat         0.070441     Dairy
6848           DRI03        6.030          Low Fat         0.022796     Dairy
6905           FDA26        7.855          Regular         0.000000     Dairy
7232           DRC27       13.800          Low Fat         0.058339     Dairy
7525           FDC04       15.600          Low Fat         0.045169     Dairy
7708           FDK03       12.600          Regular         0.074222     Dairy
8076           DRG03       14.500          Low Fat         0.062239     Dairy
8088           FDY15       18.250          Regular         0.171524     Dairy
8159           FDC15       18.100          Low Fat         0.178694     Dairy
8182           DRF27        8.930          Low Fat         0.028533     Dairy
8280           FDB03       17.750          Regular         0.157471     Dairy

      Item_MRP Outlet_Identifier  Outlet_Establishment_Year Outlet_Size  \
368   212.5876            OUT018                       2009      Medium
412   174.2422            OUT018                       2009      Medium
423   256.7672            OUT018                       2009      Medium
464   173.1764            OUT018                       2009      Medium
653   155.0340            OUT018                       2009      Medium
657   234.0300            OUT018                       2009      Medium
887   178.3344            OUT018                       2009      Medium
1190  178.3002            OUT018                       2009      Medium
1647  179.4318            OUT018                       2009      Medium
1648  170.4106            OUT018                       2009      Medium
2151  206.6296            OUT018                       2009      Medium
2165  218.3482            OUT018                       2009      Medium
2227  239.1538            OUT018                       2009      Medium
2643  249.6092            OUT018                       2009      Medium
3496  261.5910            OUT018                       2009      Medium
3577  257.4672            OUT018                       2009      Medium
3985  224.3404            OUT018                       2009      Medium
4396  264.3568            OUT018                       2009      Medium
4633  177.2028            OUT018                       2009      Medium
4850  240.8222            OUT018                       2009      Medium
5342  212.9244            OUT018                       2009      Medium
5585  261.3910            OUT018                       2009      Medium
5750  196.1794            OUT018                       2009      Medium
6396  186.0240            OUT018                       2009      Medium
6457  165.1158            OUT018                       2009      Medium
6562  216.8850            OUT018                       2009      Medium
6848  178.1028            OUT018                       2009      Medium
6905  220.1482            OUT018                       2009      Medium
7232  246.2802            OUT018                       2009      Medium
7525  242.9854            OUT018                       2009      Medium
7708  255.9356            OUT018                       2009      Medium
8076  154.2998            OUT018                       2009      Medium
8088  155.8630            OUT018                       2009      Medium
8159  158.9288            OUT018                       2009      Medium
8182  151.4340            OUT018                       2009      Medium
8280  239.1538            OUT018                       2009      Medium

     Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
368                Tier 3  Supermarket Type2          1286.3256
412                Tier 3  Supermarket Type2          4311.0550
423                Tier 3  Supermarket Type2          5624.6784
464                Tier 3  Supermarket Type2          4466.1864
653                Tier 3  Supermarket Type2          1990.7420
657                Tier 3  Supermarket Type2          4194.5400
887                Tier 3  Supermarket Type2          3211.8192
1190               Tier 3  Supermarket Type2          2328.3026
1647               Tier 3  Supermarket Type2           360.8636
1648               Tier 3  Supermarket Type2           513.3318
2151               Tier 3  Supermarket Type2          3115.9440
2165               Tier 3  Supermarket Type2          2409.5302
2227               Tier 3  Supermarket Type2           480.7076
2643               Tier 3  Supermarket Type2          5976.2208
3496               Tier 3  Supermarket Type2          2366.9190
3577               Tier 3  Supermarket Type2          3835.0080
3985               Tier 3  Supermarket Type2          4500.8080
4396               Tier 3  Supermarket Type2          4745.8224
4633               Tier 3  Supermarket Type2          3364.9532
4850               Tier 3  Supermarket Type2          3585.3330
5342               Tier 3  Supermarket Type2          2540.6928
5585               Tier 3  Supermarket Type2          1840.9370
5750               Tier 3  Supermarket Type2          2731.1116
6396               Tier 3  Supermarket Type2          4287.7520
6457               Tier 3  Supermarket Type2          1504.0422
6562               Tier 3  Supermarket Type2          6275.1650
6848               Tier 3  Supermarket Type2          1416.8224
6905               Tier 3  Supermarket Type2          4600.0122
7232               Tier 3  Supermarket Type2          1228.4010
7525               Tier 3  Supermarket Type2          2175.1686
7708               Tier 3  Supermarket Type2          4832.3764
8076               Tier 3  Supermarket Type2          1691.7978
8088               Tier 3  Supermarket Type2          2346.9450
8159               Tier 3  Supermarket Type2          1571.2880
8182               Tier 3  Supermarket Type2          1225.0720
8280               Tier 3  Supermarket Type2          4326.3684
(36, 12)

The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc().

In [ ]:
dairy_medium_99_150.reset_index(drop=True,inplace=True)

In [ ]:
dairy_medium_99_150

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDL51,20.700,Regular,0.047685,Dairy,212.5876,OUT018,2009,Medium,Tier 3,Supermarket Type2,1286.3256
1,FDZ38,17.600,Low Fat,0.008034,Dairy,174.2422,OUT018,2009,Medium,Tier 3,Supermarket Type2,4311.0550
2,FDA27,20.350,Regular,0.000000,Dairy,256.7672,OUT018,2009,Medium,Tier 3,Supermarket Type2,5624.6784
3,DRI51,17.250,Low Fat,0.042414,Dairy,173.1764,OUT018,2009,Medium,Tier 3,Supermarket Type2,4466.1864
4,DRF15,18.350,Low Fat,0.033349,Dairy,155.0340,OUT018,2009,Medium,Tier 3,Supermarket Type2,1990.7420
5,FDD03,13.300,Low Fat,0.080131,Dairy,234.0300,OUT018,2009,Medium,Tier 3,Supermarket Type2,4194.5400
6,FDY27,6.380,Low Fat,0.032028,Dairy,178.3344,OUT018,2009,Medium,Tier 3,Supermarket Type2,3211.8192
7,FDM39,6.420,Low Fat,0.053688,Dairy,178.3002,OUT018,2009,Medium,Tier 3,Supermarket Type2,2328.3026
8,FDL39,16.100,Regular,0.063589,Dairy,179.4318,OUT018,2009,Medium,Tier 3,Supermarket Type2,360.8636
9,FDV02,16.750,Low Fat,0.060792,Dairy,170.4106,OUT018,2009,Medium,Tier 3,Supermarket Type2,513.3318
10,FDC39,7.405,Low Fat,0.159844,Dairy,206.6296,OUT018,2009,Medium,Tier 3,Supermarket Type2,3115.9440
11,DRJ39,20.250,Low Fat,0.036474,Dairy,218.3482,OUT018,2009,Medium,Tier 3,Supermarket Type2,2409.5302
12,FDA38,5.440,Low Fat,0.025584,Dairy,239.1538,OUT018,2009,Medium,Tier 3,Supermarket Type2,480.7076
13,FDA15,9.300,Low Fat,0.016088,Dairy,249.6092,OUT018,2009,Medium,Tier 3,Supermarket Type2,5976.2208
14,FDF39,14.850,Regular,0.019591,Dairy,261.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,2366.9190
15,FDB52,17.750,Low Fat,0.030560,Dairy,257.4672,OUT018,2009,Medium,Tier 3,Supermarket Type2,3835.0080
16,FDX02,16.000,Low Fat,0.057293,Dairy,224.3404,OUT018,2009,Medium,Tier 3,Supermarket Type2,4500.8080
17,FDB15,10.895,Low Fat,0.137368,Dairy,264.3568,OUT018,2009,Medium,Tier 3,Supermarket Type2,4745.8224
18,FDR26,20.700,Low Fat,0.043011,Dairy,177.2028,OUT018,2009,Medium,Tier 3,Supermarket Type2,3364.9532
19,FDZ26,11.600,Regular,0.144604,Dairy,240.8222,OUT018,2009,Medium,Tier 3,Supermarket Type2,3585.3330
20,FDY26,20.600,Regular,0.030635,Dairy,212.9244,OUT018,2009,Medium,Tier 3,Supermarket Type2,2540.6928
21,FDY02,8.945,Regular,0.088003,Dairy,261.3910,OUT018,2009,Medium,Tier 3,Supermarket Type2,1840.9370
22,FDV26,20.250,Regular,0.076471,Dairy,196.1794,OUT018,2009,Medium,Tier 3,Supermarket Type2,2731.1116
23,FDZ03,13.650,Regular,0.000000,Dairy,186.0240,OUT018,2009,Medium,Tier 3,Supermarket Type2,4287.7520
24,FDW50,13.100,Low Fat,0.075886,Dairy,165.1158,OUT018,2009,Medium,Tier 3,Supermarket Type2,1504.0422
25,FDD39,16.700,Low Fat,0.070441,Dairy,216.8850,OUT018,2009,Medium,Tier 3,Supermarket Type2,6275.1650
26,DRI03,6.030,Low Fat,0.022796,Dairy,178.1028,OUT018,2009,Medium,Tier 3,Supermarket Type2,1416.8224
27,FDA26,7.855,Regular,0.000000,Dairy,220.1482,OUT018,2009,Medium,Tier 3,Supermarket Type2,4600.0122
28,DRC27,13.800,Low Fat,0.058339,Dairy,246.2802,OUT018,2009,Medium,Tier 3,Supermarket Type2,1228.4010
29,FDC04,15.600,Low Fat,0.045169,Dairy,242.9854,OUT018,2009,Medium,Tier 3,Supermarket Type2,2175.1686
30,FDK03,12.600,Regular,0.074222,Dairy,255.9356,OUT018,2009,Medium,Tier 3,Supermarket Type2,4832.3764
31,DRG03,14.500,Low Fat,0.062239,Dairy,154.2998,OUT018,2009,Medium,Tier 3,Supermarket Type2,1691.7978
32,FDY15,18.250,Regular,0.171524,Dairy,155.8630,OUT018,2009,Medium,Tier 3,Supermarket Type2,2346.9450
33,FDC15,18.100,Low Fat,0.178694,Dairy,158.9288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
34,DRF27,8.930,Low Fat,0.028533,Dairy,151.4340,OUT018,2009,Medium,Tier 3,Supermarket Type2,1225.0720
35,FDB03,17.750,Regular,0.157471,Dairy,239.1538,OUT018,2009,Medium,Tier 3,Supermarket Type2,4326.3684

In [ ]:
# selecting 0th, 2th, 4th, and 7th index rows
display(dairy_medium_99_150.iloc[[0, 2, 4, 7]])

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDL51,20.70,Regular,0.047685,Dairy,212.5876,OUT018,2009,Medium,Tier 3,Supermarket Type2,1286.3256
2,FDA27,20.35,Regular,0.000000,Dairy,256.7672,OUT018,2009,Medium,Tier 3,Supermarket Type2,5624.6784
4,DRF15,18.35,Low Fat,0.033349,Dairy,155.0340,OUT018,2009,Medium,Tier 3,Supermarket Type2,1990.7420
7,FDM39,6.42,Low Fat,0.053688,Dairy,178.3002,OUT018,2009,Medium,Tier 3,Supermarket Type2,2328.3026

In [ ]:
# selecting rows from 1 to 4 and columns from 2 to 4
display(dairy_medium_99_150.iloc[1: 5, 2: 5])

  Item_Fat_Content  Item_Visibility Item_Type
1          Low Fat         0.008034     Dairy
2          Regular         0.000000     Dairy
3          Low Fat         0.042414     Dairy
4          Low Fat         0.033349     Dairy

In [ ]:
display(dairy_medium_99_150.iloc[:, 2: 5])

   Item_Fat_Content  Item_Visibility Item_Type
0           Regular         0.047685     Dairy
1           Low Fat         0.008034     Dairy
2           Regular         0.000000     Dairy
3           Low Fat         0.042414     Dairy
4           Low Fat         0.033349     Dairy
5           Low Fat         0.080131     Dairy
6           Low Fat         0.032028     Dairy
7           Low Fat         0.053688     Dairy
8           Regular         0.063589     Dairy
9           Low Fat         0.060792     Dairy
10          Low Fat         0.159844     Dairy
11          Low Fat         0.036474     Dairy
12          Low Fat         0.025584     Dairy
13          Low Fat         0.016088     Dairy
14          Regular         0.019591     Dairy
15          Low Fat         0.030560     Dairy
16          Low Fat         0.057293     Dairy
17          Low Fat         0.137368     Dairy
18          Low Fat         0.043011     Dairy
19          Regular         0.144604     Dairy
20          Regular         0.030635     Dairy
21          Regular         0.088003     Dairy
22          Regular         0.076471     Dairy
23          Regular         0.000000     Dairy
24          Low Fat         0.075886     Dairy
25          Low Fat         0.070441     Dairy
26          Low Fat         0.022796     Dairy
27          Regular         0.000000     Dairy
28          Low Fat         0.058339     Dairy
29          Low Fat         0.045169     Dairy
30          Regular         0.074222     Dairy
31          Low Fat         0.062239     Dairy
32          Regular         0.171524     Dairy
33          Low Fat         0.178694     Dairy
34          Low Fat         0.028533     Dairy
35          Regular         0.157471     Dairy

### Merging dataframes

- Joining and merging DataFrames is the core process to start with data analysis and machine learning tasks. 
- It is one of the toolkits which every Data Analyst or Data Scientist should master because in almost all the cases data comes from multiple source and files.
- Pandas has two useful functions for merging dataframes:
    - **concat()**
    - **merge()** 
    
#### Creating dummy data

In [ ]:
import pandas as pd

In [1]:
# create dummy data
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
 

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                     'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])
 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

NameError: ignored

### a. concat() for combining dataframes
- Suppose you have the following three dataframes: df1, df2 and df3 and you want to combine them **"row-wise"** so that they become a single dataframe like the given image:
![](https://i.imgur.com/LCnk88r.png)
- You can use **concat()** here. You will have to pass the names of the DataFrames in a list as the argument to the concat().

In [ ]:
# combine dataframes
result = pd.concat([df1, df2, df3])
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

- pandas also provides you with an option to label the DataFrames, after the concatenation, with a key so that you may know which data came from which DataFrame.
- You can achieve the same by passing additional argument **keys** specifying the label names of the DataFrames in a list.

In [ ]:
# combine dataframes
result = pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

- Mentioning the keys also makes it easy to retrieve data corresponding to a particular DataFrame. 
- You can retrieve the data of DataFrame df2 which had the label `y` by using the `loc` method.

In [ ]:
# get second dataframe
result.loc['z']

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
result['A']

x  0      A0
   1      A1
   2      A2
   3      A3
y  4      A4
   5      A5
   6      A6
   7      A7
z  8      A8
   9      A9
   10    A10
   11    A11
Name: A, dtype: object

- When gluing together multiple DataFrames, you have a choice of how to handle the other axes (other than the one being concatenated). This can be done in the following three ways:

    - Take the union of them all, `join='outer'`. This is the default option as it results in zero information loss.
    - Take the intersection, `join='inner'`.
    - Use a specific index, as passed to the `join_axes` argument.

- Here is an example of each of these methods. First, the default `join='outer'` behavior:
![](https://i.imgur.com/VnwDMEG.png)

In [2]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                        'D': ['D2', 'D3', 'D6', 'D7'],
                        'F': ['F2', 'F3', 'F6', 'F7']},
                       index=[2, 3, 6, 7])
    

result = pd.concat([df1, df4], axis=1, ignore_index=True)
result

NameError: ignored

- Here is the same thing with `join='inner'`:
![](https://i.imgur.com/ljcXuWl.png)

In [ ]:
result = pd.concat([df1, df4], axis=1,join='inner')
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

- Lastly, suppose we just wanted to `reuse the exact index` from the original DataFrame:
![](https://i.imgur.com/acMux4A.png)

In [ ]:
pd.DataFrame(df1.iloc[1:3,:])

    A   B   C   D
1  A1  B1  C1  D1
2  A2  B2  C2  D2

In [ ]:
result = pd.concat([df1.loc[1], df4.loc[7]],axis=1)
result

     1    7
A   A1  NaN
B   B1   B7
C   C1  NaN
D   D1   D7
F  NaN   F7

### b. merge() for combining dataframes using SQL like joins

- Another ubiquitous operation related to DataFrames is the merging operation. 
- Two DataFrames might hold different kinds of information about the same entity and linked by some common feature/column.
- We can use **merge()** to combine such dataframes in pandas.

#### Creating dummy data

In [ ]:
# create dummy data
df_a = pd.DataFrame({
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']})

df_b = pd.DataFrame({
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']})

df_c = pd.DataFrame({
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]})

Now these are our dataframes:
![](https://i.imgur.com/7TwI8cO.png)

- Let's start with a basic join, we want to combine `df_a` with `df_c` based on the `subject_id` column.

In [ ]:
pd.merge(df_b, df_c, on='subject_id')

  subject_id first_name last_name  test_id
0          4      Billy    Bonder       61
1          5      Brian     Black       16
2          7      Bryce     Brice       14
3          8      Betty    Btisan       15

In [ ]:
pd.merge(pd.concat([df_a,df_b]),df_c,on='subject_id')

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          7      Bryce     Brice       14
8          8      Betty    Btisan       15

- Now that we have done a basic join, let's get into **some commmon SQL joins.**

#### Merge with outer join

- “Full outer join produces the set of all records in Table A and Table B, with matching records from both sides where available. If there is no match, the missing side will contain null.”
![](https://i.imgur.com/v4dsyRM.png)

In [ ]:
pd.merge(df_a, df_c, on='subject_id', how='outer')

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          5     Ayoung   Atiches       16
5          7        NaN       NaN       14
6          8        NaN       NaN       15
7          9        NaN       NaN        1
8         10        NaN       NaN       61
9         11        NaN       NaN       16

#### Merge with inner join

- “Inner join produces only the set of records that match in both Table A and Table B.”
![](https://i.imgur.com/EtsMTiY.png)

In [ ]:
pd.merge(df_a, df_c, on='subject_id', how='inner')

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          5     Ayoung   Atiches       16

#### Merge with right join

- “Right outer join produces a complete set of records from Table B, with the matching records (where available) in Table A. If there is no match, the left side will contain null.”

![](https://i.imgur.com/92C7G1Y.png)

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='right')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black
2          6          NaN         NaN         Bran     Balwner
3          7          NaN         NaN        Bryce       Brice
4          8          NaN         NaN        Betty      Btisan

#### Merge with left join

- “Left outer join produces a complete set of records from Table A, with the matching records (where available) in Table B. If there is no match, the right side will contain null.”
![](https://i.imgur.com/hG7Aozu.png)

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='left')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black

### Merge OR Concat : Which to use when?

1. After learning both of the functions in detail, chances are that you might be confused which to use when. 
2. One major difference is that `merge()` is used to combine dataframes on the basis of values of **common columns**. While`concat()` is used to **append dataframes** one below the other (or sideways, depending on whether the axis option is set to 0 or 1).
3. Exact usage depends upon the kind of data you have and analysis you want to perform.

### Aggregating data

There are multiple functions that can be used to perform useful aggregations on data in pandas:

 - groupby
 - crosstab
 - pivottable
 
#### a. **What is the mean price for each item type?** : groupby
- In the given data set, I want to find out **what is the mean price for each item type**?
- You can use **groupby()** to achieve this.
- The first step would be to group the data by Item_Type column.

In [ ]:
import pandas as pd
import numpy as np

# read the dataset
data_BM = pd.read_csv('bigmart_data.csv')
# drop the null values
data_BM = data_BM.dropna(how="any")
# reset index after dropping
data_BM = data_BM.reset_index(drop=True)
# view the top results
data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

In [ ]:
data_BM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4650 entries, 0 to 4649
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            4650 non-null   object
 1   Item_Weight                4650 non-null   float64
 2   Item_Fat_Content           4650 non-null   object
 3   Item_Visibility            4650 non-null   float64
 4   Item_Type                  4650 non-null   object
 5   Item_MRP                   4650 non-null   float64
 6   Outlet_Identifier          4650 non-null   object
 7   Outlet_Establishment_Year  4650 non-null   int64
 8   Outlet_Size                4650 non-null   object
 9   Outlet_Location_Type       4650 non-null   object
 10  Outlet_Type                4650 non-null   object
 11  Item_Outlet_Sales          4650 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 436.1+ KB

In [ ]:
data_BM["Outlet_Establishment_Year"].astype(object)

#### Group By

Pandas groupby is used for grouping the data according to the categories and apply a function to the categories. It also helps to aggregate data efficiently.

Pandas dataframe.groupby() function is used to split the data into groups based on some criteria. pandas objects can be split on any of their axes. The abstract definition of grouping is to provide a mapping of labels to group names.

    Syntax: DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)

    Parameters :
    by : mapping, function, str, or iterable
    axis : int, default 0
    level : If the axis is a MultiIndex (hierarchical), group by a particular level or levels
    as_index : For aggregated output, return object with group labels as the index. 
    Only relevant for DataFrame input. as_index=False is effectively “SQL-style” grouped output
    sort : Sort group keys. Get better performance by turning this off. Note this does not 
    influence the order of observations within each group. groupby preserves the order of 
    rows within each group.
    group_keys : When calling apply, add group keys to index to identify pieces
    squeeze : Reduce the dimensionality of the return type if possible,
    otherwise return a consistent type

    Returns : GroupBy object

In [ ]:
data_BM1=data_BM
data_BM1["Outlet_Establishment_Year"]=data_BM1["Outlet_Establishment_Year"].astype(object)
price_by_item1 = data_BM1.groupby('Item_Type').mean()
price_by_item1

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales
Item_Type,,,,
Baking Goods,12.336923,0.060733,125.795653,2046.798187
Breads,11.190000,0.061970,141.300639,2389.702474
Breakfast,12.649397,0.074611,134.090683,2203.166638
Canned,12.304557,0.063863,138.551179,2205.210750
Dairy,13.504276,0.066709,149.481471,2337.420556
Frozen Foods,12.854832,0.061808,140.095830,2222.011887
Fruits and Vegetables,13.196813,0.061589,145.418257,2312.703005
Hard Drinks,11.449060,0.059529,140.102908,2233.275299
Health and Hygiene,13.274946,0.050321,131.437324,2138.071282
Household,13.634347,0.056251,149.884244,2386.554752
Meat,12.743009,0.058088,140.279344,2250.096708
Others,13.749286,0.050557,137.640870,2194.191457
Seafood,13.360909,0.076063,146.595782,2782.236970
Snack Foods,12.983643,0.061934,147.569955,2391.146609
Soft Drinks,11.886328,0.058806,130.910182,2050.338007
Starchy Foods,13.722586,0.064550,151.256747,2483.778379

In [ ]:
price_by_item = data_BM.groupby('Item_Type').mean()
price_by_item

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Type,,,,,
Baking Goods,12.336923,0.060733,125.795653,1998.977208,2046.798187
Breads,11.190000,0.061970,141.300639,1999.477273,2389.702474
Breakfast,12.649397,0.074611,134.090683,1998.896552,2203.166638
Canned,12.304557,0.063863,138.551179,1999.695291,2205.210750
Dairy,13.504276,0.066709,149.481471,1998.918421,2337.420556
Frozen Foods,12.854832,0.061808,140.095830,1999.125786,2222.011887
Fruits and Vegetables,13.196813,0.061589,145.418257,1999.058209,2312.703005
Hard Drinks,11.449060,0.059529,140.102908,1999.119658,2233.275299
Health and Hygiene,13.274946,0.050321,131.437324,1998.949458,2138.071282
Household,13.634347,0.056251,149.884244,1999.036145,2386.554752
Meat,12.743009,0.058088,140.279344,1999.429864,2250.096708
Others,13.749286,0.050557,137.640870,1999.483516,2194.191457
Seafood,13.360909,0.076063,146.595782,2000.151515,2782.236970
Snack Foods,12.983643,0.061934,147.569955,1999.426829,2391.146609
Soft Drinks,11.886328,0.058806,130.910182,1999.149378,2050.338007
Starchy Foods,13.722586,0.064550,151.256747,1999.080460,2483.778379

In [ ]:
price_by_item['Item_MRP'].mean()

41186.3077875

In [ ]:
# group price based on item type # mean price by item 
price_by_item = (data_BM.groupby('Item_Type')['Item_Outlet_Sales'].sum()).astype(int) 

# display first few rows
print(price_by_item.reset_index()  )

                Item_Type  Item_Outlet_Sales
0            Baking Goods             718426
1                  Breads             315440
2               Breakfast             127783
3                  Canned             796081
4                   Dairy             888219
5            Frozen Foods            1059899
6   Fruits and Vegetables            1549511
7             Hard Drinks             261293
8      Health and Hygiene             592245
9               Household            1188504
10                   Meat             497271
11                 Others             199671
12                Seafood              91813
13            Snack Foods            1568592
14            Soft Drinks             494131
15          Starchy Foods             216088

- Now that you have grouped by Item_Type, the next step would be to calculate the mean of Item_MRP.

- You can use `groupby` with **multiple** columns of the dataset too. 
- In this case, if you want to group first based on the Item_Type and then Item_MRP you can simply pass a list of column names.

In [ ]:
# group on multiple columns
multiple_groups = data_BM[:25].groupby(['Item_Type', 'Item_Fat_Content']).max()
print(multiple_groups.reset_index())

                Item_Type Item_Fat_Content Item_Identifier  Item_Weight  \
0            Baking Goods          Regular           FDP36       10.395
1               Breakfast          Regular           FDP49        9.000
2                   Dairy          Low Fat           FDU02       13.350
3                   Dairy          Regular           FDA03       18.500
4            Frozen Foods          Regular           FDR28       13.850
5   Fruits and Vegetables          Low Fat           FDY07       16.350
6   Fruits and Vegetables          Regular           FDX32       15.100
7             Hard Drinks          low fat           DRJ59       11.650
8      Health and Hygiene          Low Fat           NCX29       18.600
9               Household          Low Fat           NCD19       14.600
10                   Meat          Low Fat           FDN15       17.500
11            Snack Foods          Low Fat           FDP33       18.700
12            Snack Foods          Regular           FDV10       18.850
13            Soft Drinks          Low Fat           DRH01       17.500
14            Soft Drinks          Regular           DRZ11        8.850

    Item_Visibility  Item_MRP Outlet_Identifier  Outlet_Establishment_Year  \
0          0.000000   51.4008            OUT018                       2009
1          0.069196   56.3614            OUT049                       1999
2          0.102492  249.8092            OUT049                       2004
3          0.045464  144.1102            OUT046                       1997
4          0.025896  165.0210            OUT046                       1997
5          0.068024  196.4426            OUT049                       1999
6          0.100014  145.4786            OUT049                       1999
7          0.019356   39.1164            OUT013                       1987
8          0.089291  146.7102            OUT049                       2009
9          0.025698  196.5084            OUT035                       2004
10         0.016760  141.6180            OUT049                       1999
11         0.000000  256.6672            OUT018                       2009
12         0.138190  250.8724            OUT046                       2004
13         0.097904  174.8738            OUT046                       1997
14         0.113124  122.5388            OUT018                       2009

   Outlet_Size Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
0       Medium               Tier 3  Supermarket Type2           556.6088
1        Small               Tier 1  Supermarket Type1          1547.3192
2        Small               Tier 2  Supermarket Type1          3735.1380
3        Small               Tier 1  Supermarket Type1          2187.1530
4        Small               Tier 1  Supermarket Type1          4078.0250
5       Medium               Tier 3  Supermarket Type1          1977.4260
6       Medium               Tier 1  Supermarket Type1          1589.2646
7         High               Tier 3  Supermarket Type1           308.9312
8       Medium               Tier 3  Supermarket Type2          3791.0652
9        Small               Tier 3  Supermarket Type1          1587.2672
10      Medium               Tier 1  Supermarket Type1          2097.2700
11      Medium               Tier 3  Supermarket Type2          3068.0064
12       Small               Tier 3  Supermarket Type1          3775.0860
13       Small               Tier 1  Supermarket Type1          2085.2856
14      Medium               Tier 3  Supermarket Type2          1609.9044

You can read more about **groupby** and other related functions [here.](http://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)


#### Crosstab

This method is used to compute a simple cross-tabulation of two (or more) factors. By default, computes a frequency table of the factors unless an array of values and an aggregation function are passed.

    Syntax: pandas.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name=’All’, dropna=True, normalize=False)

    Arguments :

        index : array-like, Series, or list of arrays/Series, Values to group by in the rows.
        columns : array-like, Series, or list of arrays/Series, Values to group by in the columns.
        values : array-like, optional, array of values to aggregate according to the factors. Requires `aggfunc` be specified.
        rownames : sequence, default None, If passed, must match number of row arrays passed.
        colnames : sequence, default None, If passed, must match number of column arrays passed.
        aggfunc : function, optional, If specified, requires `values` be specified as well.
        margins : bool, default False, Add row/column margins (subtotals).
        margins_name : str, default ‘All’, Name of the row/column that will contain the totals when margins is True.
        dropna : bool, default True, Do not include columns whose entries are all NaN.

**b. How are outlet sizes distributed based on the city type?** : crosstab

- This function is used to get an initial “feel” (view) of the data. Here, we can validate some basic hypothesis.
- For example, in this case, "Outlet_Location_Type" is expected to affect the "Outlet_Size" significantly. This can be tested using cross-tabulation as shown below:

In [ ]:
# generate crosstab of Outlet_Size and Outlet_Location_Type
pd.crosstab(data_BM["Outlet_Size"],data_BM["Item_Type"],margins=True)

Item_Type,Baking Goods,Breads,Breakfast,Canned,Dairy,Frozen Foods,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods,All
Outlet_Size,,,,,,,,,,,,,,,,,
High,73,25,13,65,80,92,142,23,61,103,41,16,5,125,49,19,932
Medium,134,52,25,145,151,185,273,52,110,190,93,37,14,271,92,34,1858
Small,144,55,20,151,149,200,255,42,106,205,87,38,14,260,100,34,1860
All,351,132,58,361,380,477,670,117,277,498,221,91,33,656,241,87,4650

- If you notice in the above `crosstab` there are interesting insights like 50% of medium size outlets are present only in either Tier 1 or Tier 3 cities.
- Another counter intuitive thing to notice is that high outlet size is only present in Tier 3 city though general assumption would be towards Tier 1 cities having larger outlet sizes.


#### pivottable

pivottable create a spreadsheet-style pivot table as a DataFrame.

Levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.

    Syntax:

    pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc=’mean’, fill_value=None, margins=False, dropna=True, margins_name=’All’)

    Parameters:

    data : DataFrame
    values : column to aggregate, optional
    index: column, Grouper, array, or list of the previous
    columns: column, Grouper, array, or list of the previous

    aggfunc: function, list of functions, dict, default numpy.mean
    -> If list of functions passed, the resulting pivot table will have hierarchical columns whose top level are the function names.
    -> If dict is passed, the key is column to aggregate and value is function or list of functions

    fill_value[scalar, default None] : Value to replace missing values with
    margins[boolean, default False] : Add all row / columns (e.g. for subtotal / grand totals)
    dropna[boolean, default True] : Do not include columns whose entries are all NaN
    margins_name[string, default ‘All’] : Name of the row / column that will contain the totals when margins is True.

**c. How are the sales changing per year? :** pivottable

- Pandas can be used to create MS Excel style pivot tables.
- The fun thing about pandas `pivot_table` is you can get another point of view on your data with only one line of code. 
- Most of the `pivot_table` parameters use default values, so the only mandatory parameters you must add are `data` and `index`. 
    - **data** is self explanatory – it’s the DataFrame you’d like to use
    - **index** is the column, grouper, array (or list of the previous) you’d like to group your data by. 
    - **values (optional)** is the column you’d like to aggregate. If you do not specify this then the function will aggregate all numeric columns.

In [ ]:
data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

In [ ]:
# create pivot table
pd.pivot_table(data_BM, index=['Outlet_Establishment_Year'], values= "Item_Outlet_Sales")

                           Item_Outlet_Sales
Outlet_Establishment_Year
1987                             2298.995256
1997                             2277.844267
1999                             2348.354635
2004                             2438.841866
2009                             1995.498739

- In the above example, the mean sales for each year is shown.
- You can also pass multiple columns to pivot table, in the next exammple we try to see mean sales not just by the year but also taking into account the **outlet size** and type of the city.

In [ ]:
# create pivot table
pd.pivot_table(data_BM, index=['Outlet_Establishment_Year', 'Outlet_Location_Type', 'Outlet_Size'], 
               values= "Item_Outlet_Sales")

                                                            Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1987                      Tier 3               High               2298.995256
1997                      Tier 1               Small              2277.844267
1999                      Tier 1               Medium             2348.354635
2004                      Tier 2               Small              2438.841866
2009                      Tier 3               Medium             1995.498739

- This makes it easier to see that Tier 1 cities have good sales irrespective of year and outlet size.
- We also notice that Tier 2 and Tier 3 cities dominate during the later years. This might mean both they are performing better or we have less data of later years.
- You can also perform multiple aggregations like mean, median, min, max etc. in a pivot table by using **aggfunc** parameter.

In [ ]:
pd.pivot_table(data_BM, index=['Outlet_Establishment_Year'], 
               values= "Item_Outlet_Sales", aggfunc= [np.mean, np.median,np.min,np.max,np.sum])

,mean,median,amin,amax,sum
,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,
1987,2298.995256,2050.6640,73.2380,10256.6490,2.142664e+06
1997,2277.844267,1945.8005,101.8674,9779.9362,2.118395e+06
1999,2348.354635,1966.1074,111.8544,7646.0472,2.183970e+06
2004,2438.841866,2109.2544,113.8518,8479.6288,2.268123e+06
2009,1995.498739,1655.1788,69.2432,6768.5228,1.851823e+06

### Data Export

Suppose you are working on a Data Science project and you tackle one of the most important tasks, i.e, Data Cleaning. After data cleaning, you don’t want to lose your cleaned data frame, so you want to save your cleaned data frame as a CSV. Let us see how to export a Pandas DataFrame to a CSV file. 
Pandas enable us to do so with its inbuilt to_csv() function.

    Syntax:
    
    df.to_csv( self, path_or_buf=None, sep=",", na_rep="", float_format=None, columns=None, header=True, index=True,
                index_label=None, mode="w",encoding=None,compression="infer", quoting=None,quotechar='"',
                line_terminator=None,chunksize=None,date_format=None,doublequote=True,escapechar=None,decimal=".",
              )
              
    Parameters:
    Some of the important parameters are:

    path_or_buf: the file object to write the CSV data. If this argument is not provided, the CSV data is returned as a string.
    sep: the delimiter for the CSV data. It should be a string of length 1, the default is a comma.
    na_rep: string representing null or missing values, default is empty string.
    columns: a sequence to specify the columns to include in the CSV output.
    header: the allowed values are boolean or a list of string, default is True. 
            If False, the column names are not written in the output. If a list of string, it’s used to write 
            the column names. The length of the list of string should be the same as the number of columns being
            written in the CSV file.
    index: if True, index is included in the CSV data. If False, the index value is not written in the CSV output.
    index_label: used to specify the column name for index.

In [ ]:
dairy_medium_99=data_BM.loc[(data_BM['Item_Type']=='Dairy') & (data_BM['Outlet_Size']=='Medium') & (data_BM['Outlet_Establishment_Year']>1999)]
dairy_medium_99

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
150,FDH27,7.075,Low Fat,0.058585,Dairy,142.7128,OUT018,2009,Medium,Tier 3,Supermarket Type2,1869.5664
188,FDL51,20.700,Regular,0.047685,Dairy,212.5876,OUT018,2009,Medium,Tier 3,Supermarket Type2,1286.3256
213,FDZ38,17.600,Low Fat,0.008034,Dairy,174.2422,OUT018,2009,Medium,Tier 3,Supermarket Type2,4311.0550
218,FDA27,20.350,Regular,0.000000,Dairy,256.7672,OUT018,2009,Medium,Tier 3,Supermarket Type2,5624.6784
244,DRI51,17.250,Low Fat,0.042414,Dairy,173.1764,OUT018,2009,Medium,Tier 3,Supermarket Type2,4466.1864
...,...,...,...,...,...,...,...,...,...,...,...,...
4426,FDT02,12.600,LF,0.024293,Dairy,33.4874,OUT018,2009,Medium,Tier 3,Supermarket Type2,105.8622
4455,FDC15,18.100,Low Fat,0.178694,Dairy,158.9288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
4466,DRF27,8.930,Low Fat,0.028533,Dairy,151.4340,OUT018,2009,Medium,Tier 3,Supermarket Type2,1225.0720
4517,FDB03,17.750,Regular,0.157471,Dairy,239.1538,OUT018,2009,Medium,Tier 3,Supermarket Type2,4326.3684
4612,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410

In [ ]:
dairy_medium_99.to_csv('new_file.csv',index=False)

In [ ]:
new_df=pd.read_csv('new_file.csv')
new_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDH27,7.075,Low Fat,0.058585,Dairy,142.7128,OUT018,2009,Medium,Tier 3,Supermarket Type2,1869.5664
1,FDL51,20.700,Regular,0.047685,Dairy,212.5876,OUT018,2009,Medium,Tier 3,Supermarket Type2,1286.3256
2,FDZ38,17.600,Low Fat,0.008034,Dairy,174.2422,OUT018,2009,Medium,Tier 3,Supermarket Type2,4311.0550
3,FDA27,20.350,Regular,0.000000,Dairy,256.7672,OUT018,2009,Medium,Tier 3,Supermarket Type2,5624.6784
4,DRI51,17.250,Low Fat,0.042414,Dairy,173.1764,OUT018,2009,Medium,Tier 3,Supermarket Type2,4466.1864

In [ ]:
dairy_medium_99.to_csv('new_file_1.csv',index=False,sep=',')
new_df=pd.read_csv('new_file_1.csv')
new_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDH27,7.075,Low Fat,0.058585,Dairy,142.7128,OUT018,2009,Medium,Tier 3,Supermarket Type2,1869.5664
1,FDL51,20.700,Regular,0.047685,Dairy,212.5876,OUT018,2009,Medium,Tier 3,Supermarket Type2,1286.3256
2,FDZ38,17.600,Low Fat,0.008034,Dairy,174.2422,OUT018,2009,Medium,Tier 3,Supermarket Type2,4311.0550
3,FDA27,20.350,Regular,0.000000,Dairy,256.7672,OUT018,2009,Medium,Tier 3,Supermarket Type2,5624.6784
4,DRI51,17.250,Low Fat,0.042414,Dairy,173.1764,OUT018,2009,Medium,Tier 3,Supermarket Type2,4466.1864

In [ ]:
dairy_medium_99.to_csv('new_file.csv',columns=['Item_Identifier','Item_Weight','Item_Fat_Content'],index=False,sep=',')
new_df=pd.read_csv('new_file.csv')
new_df.head()

  Item_Identifier  Item_Weight Item_Fat_Content
0           FDH27        7.075          Low Fat
1           FDL51       20.700          Regular
2           FDZ38       17.600          Low Fat
3           FDA27       20.350          Regular
4           DRI51       17.250          Low Fat

### dataframe print without index

When printing a dataframe, by default, index appears with the output but this can be removed if required. To print the dataframe without indices index parameter in to_string() must be set to False.

In [ ]:
print(new_df)

   Item_Identifier  Item_Weight Item_Fat_Content
0            FDH27        7.075          Low Fat
1            FDL51       20.700          Regular
2            FDZ38       17.600          Low Fat
3            FDA27       20.350          Regular
4            DRI51       17.250          Low Fat
..             ...          ...              ...
68           FDT02       12.600               LF
69           FDC15       18.100          Low Fat
70           DRF27        8.930          Low Fat
71           FDB03       17.750          Regular
72           FDV50       14.300          Low Fat

[73 rows x 3 columns]

In [ ]:
print(new_df.to_string(index=False))

Item_Identifier  Item_Weight Item_Fat_Content
          FDH27        7.075          Low Fat
          FDL51       20.700          Regular
          FDZ38       17.600          Low Fat
          FDA27       20.350          Regular
          DRI51       17.250          Low Fat
          DRG39       14.150          Low Fat
          DRF15       18.350          Low Fat
          FDD03       13.300          Low Fat
          FDY27        6.380          Low Fat
          DRG27        8.895          Low Fat
          FDM39        6.420          Low Fat
          FDA02       14.000          Regular
          FDD52       18.250          Regular
          FDL39       16.100          Regular
          FDV02       16.750          Low Fat
          FDC39        7.405          Low Fat
          DRJ39       20.250          Low Fat
          DRE15       13.350          Low Fat
          FDA38        5.440          Low Fat
          FDQ26       13.500          Regular
          FDX50       20.100          Low Fat
          FDC16       11.500          Regular
          FDA15        9.300          Low Fat
          DRE03       19.600          Low Fat
          DRF03       19.100          Low Fat
          FDB51        6.920          Low Fat
          DRH03       17.250          low fat
          FDT14       10.695          Regular
          FDF39       14.850          Regular
          FDB52       17.750          Low Fat
          FDE40       15.600          Regular
          FDX27       20.700          Regular
          FDT38       18.700          Low Fat
          FDX02       16.000          Low Fat
          FDY50        5.800               LF
          DRH15        8.775          Low Fat
          DRI39       13.800               LF
          FDT50        6.750          Regular
          FDB15       10.895          Low Fat
          FDR26       20.700          Low Fat
          FDB40       17.500          Regular
          FDZ26       11.600          Regular
          FDV38       19.250          Low Fat
          FDY26       20.600          Regular
          FDW02        4.805          Regular
          FDC40       16.000          Regular
          FDQ14        9.270          Low Fat
          FDY02        8.945          Regular
          FDR02       16.700               LF
          FDV26       20.250          Regular
          FDU26       16.700          Regular
          FDW14        8.300          Regular
          FDJ03       12.350          Regular
          FDZ03       13.650          Regular
          FDT26       18.850          Regular
          FDW50       13.100          Low Fat
          FDX38       10.500          Regular
          FDD39       16.700          Low Fat
          DRF51       15.750          Low Fat
          DRI03        6.030          Low Fat
          FDA26        7.855          Regular
          DRC27       13.800          Low Fat
          FDC04       15.600          Low Fat
          FDK03       12.600          Regular
          FDW38        5.325          Regular
          DRG03       14.500          Low Fat
          FDY15       18.250          Regular
          FDP26        7.785          Low Fat
          FDT02       12.600               LF
          FDC15       18.100          Low Fat
          DRF27        8.930          Low Fat
          FDB03       17.750          Regular
          FDV50       14.300          Low Fat

In [ ]:
agg=pd.pivot_table(data_BM, index=['Outlet_Establishment_Year'], 
               values= "Item_Outlet_Sales", aggfunc= [np.mean, np.median,np.min,np.max,np.sum])

In [ ]:
agg.to_csv("agg1.csv")

In [ ]:
dairy_medium_99.to_csv('dairy_with_index.csv')
dairy_medium_99.to_csv('dairy_without_index.csv',index=False)
dairy_medium_99.to_csv('dairy_with_sep.csv',sep='|',index=False)

In [ ]:
dairy_medium_99.reset_index(drop=True,inplace=True)

In [ ]:
print(dairy_medium_99.to_string(index=False))

Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility Item_Type  Item_MRP Outlet_Identifier Outlet_Establishment_Year Outlet_Size Outlet_Location_Type       Outlet_Type  Item_Outlet_Sales
          FDH27        7.075          Low Fat         0.058585     Dairy  142.7128            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1869.5664
          FDL51       20.700          Regular         0.047685     Dairy  212.5876            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1286.3256
          FDZ38       17.600          Low Fat         0.008034     Dairy  174.2422            OUT018                      2009      Medium               Tier 3 Supermarket Type2          4311.0550
          FDA27       20.350          Regular         0.000000     Dairy  256.7672            OUT018                      2009      Medium               Tier 3 Supermarket Type2          5624.6784
          DRI51       17.250          Low Fat         0.042414     Dairy  173.1764            OUT018                      2009      Medium               Tier 3 Supermarket Type2          4466.1864
          DRG39       14.150          Low Fat         0.042353     Dairy   51.6982            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1262.3568
          DRF15       18.350          Low Fat         0.033349     Dairy  155.0340            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1990.7420
          FDD03       13.300          Low Fat         0.080131     Dairy  234.0300            OUT018                      2009      Medium               Tier 3 Supermarket Type2          4194.5400
          FDY27        6.380          Low Fat         0.032028     Dairy  178.3344            OUT018                      2009      Medium               Tier 3 Supermarket Type2          3211.8192
          DRG27        8.895          Low Fat         0.000000     Dairy   42.0138            OUT018                      2009      Medium               Tier 3 Supermarket Type2           568.5932
          FDM39        6.420          Low Fat         0.053688     Dairy  178.3002            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2328.3026
          FDA02       14.000          Regular         0.029844     Dairy  143.9786            OUT018                      2009      Medium               Tier 3 Supermarket Type2           866.8716
          FDD52       18.250          Regular         0.184042     Dairy  110.1570            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1867.5690
          FDL39       16.100          Regular         0.063589     Dairy  179.4318            OUT018                      2009      Medium               Tier 3 Supermarket Type2           360.8636
          FDV02       16.750          Low Fat         0.060792     Dairy  170.4106            OUT018                      2009      Medium               Tier 3 Supermarket Type2           513.3318
          FDC39        7.405          Low Fat         0.159844     Dairy  206.6296            OUT018                      2009      Medium               Tier 3 Supermarket Type2          3115.9440
          DRJ39       20.250          Low Fat         0.036474     Dairy  218.3482            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2409.5302
          DRE15       13.350          Low Fat         0.017858     Dairy   77.5012            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1518.0240
          FDA38        5.440          Low Fat         0.025584     Dairy  239.1538            OUT018                      2009      Medium               Tier 3 Supermarket Type2           480.7076
          FDQ26       13.500          Regular         0.068149     Dairy   58.6562            OUT018                      2009      Medium               Tier 3 Supermarket Type2           711.0744
          FDX50       20.100          Low Fat         0.074931     Dairy  108.9228            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1105.2280
          FDC16       11.500          Regular         0.020654     Dairy   84.9540            OUT018                      2009      Medium               Tier 3 Supermarket Type2           865.5400
          FDA15        9.300          Low Fat         0.016088     Dairy  249.6092            OUT018                      2009      Medium               Tier 3 Supermarket Type2          5976.2208
          DRE03       19.600          Low Fat         0.024326     Dairy   48.5718            OUT018                      2009      Medium               Tier 3 Supermarket Type2           425.4462
          DRF03       19.100          Low Fat         0.045493     Dairy   40.3138            OUT018                      2009      Medium               Tier 3 Supermarket Type2           527.9794
          FDB51        6.920          Low Fat         0.038611     Dairy   61.4852            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1314.2892
          DRH03       17.250          low fat         0.035207     Dairy   93.5120            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1491.3920
          FDT14       10.695          Regular         0.128247     Dairy  121.8440            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2277.0360
          FDF39       14.850          Regular         0.019591     Dairy  261.5910            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2366.9190
          FDB52       17.750          Low Fat         0.030560     Dairy  257.4672            OUT018                      2009      Medium               Tier 3 Supermarket Type2          3835.0080
          FDE40       15.600          Regular         0.000000     Dairy   62.4194            OUT018                      2009      Medium               Tier 3 Supermarket Type2           804.9522
          FDX27       20.700          Regular         0.114582     Dairy   94.3436            OUT018                      2009      Medium               Tier 3 Supermarket Type2           945.4360
          FDT38       18.700          Low Fat         0.057772     Dairy   85.3566            OUT018                      2009      Medium               Tier 3 Supermarket Type2           591.8962
          FDX02       16.000          Low Fat         0.057293     Dairy  224.3404            OUT018                      2009      Medium               Tier 3 Supermarket Type2          4500.8080
          FDY50        5.800               LF         0.131489     Dairy   89.7172            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1605.9096
          DRH15        8.775          Low Fat         0.110359     Dairy   42.7428            OUT018                      2009      Medium               Tier 3 Supermarket Type2           790.9704
          DRI39       13.800               LF         0.097457     Dairy   55.3930            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1018.6740
          FDT50        6.750          Regular         0.108680     Dairy   95.6752            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1246.3776
          FDB15       10.895          Low Fat         0.137368     Dairy  264.3568            OUT018                      2009      Medium               Tier 3 Supermarket Type2          4745.8224
          FDR26       20.700          Low Fat         0.043011     Dairy  177.2028            OUT018                      2009      Medium               Tier 3 Supermarket Type2          3364.9532
          FDB40       17.500          Regular         0.007571     Dairy  144.6102            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2187.1530
          FDZ26       11.600          Regular         0.144604     Dairy  240.8222            OUT018                      2009      Medium               Tier 3 Supermarket Type2          3585.3330
          FDV38       19.250          Low Fat         0.102188     Dairy   54.3956            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1201.1032
          FDY26       20.600          Regular         0.030635     Dairy  212.9244            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2540.6928
          FDW02        4.805          Regular         0.037853     Dairy  126.2704            OUT018                      2009      Medium               Tier 3 Supermarket Type2          3629.9416
          FDC40       16.000          Regular         0.065329     Dairy   78.4986            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1791.6678
          FDQ14        9.270          Low Fat         0.062039     Dairy  148.0050            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1797.6600
          FDY02        8.945          Regular         0.088003     Dairy  261.3910            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1840.9370
          FDR02       16.700               LF         0.022156     Dairy  109.5886            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1000.6974
          FDV26       20.250          Regular         0.076471     Dairy  196.1794            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2731.1116
          FDU26       16.700          Regular         0.042793     Dairy  118.6782            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1549.3166
          FDW14        8.300          Regular         0.038367     Dairy   87.1198            OUT018                      2009      Medium               Tier 3 Supermarket Type2           959.4178
          FDJ03       12.350          Regular         0.072690     Dairy   48.7692            OUT018                      2009      Medium               Tier 3 Supermarket Type2           788.3072
          FDZ03       13.650          Regular         0.000000     Dairy  186.0240            OUT018                      2009      Medium               Tier 3 Supermarket Type2          4287.7520
          FDT26       18.850          Regular         0.068230     Dairy  121.0440            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1557.9720
          FDW50       13.100          Low Fat         0.075886     Dairy  165.1158            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1504.0422
          FDX38       10.500          Regular         0.048403     Dairy   48.2376            OUT018                      2009      Medium               Tier 3 Supermarket Type2           527.3136
          FDD39       16.700          Low Fat         0.070441     Dairy  216.8850            OUT018                      2009      Medium               Tier 3 Supermarket Type2          6275.1650
          DRF51       15.750          Low Fat         0.166514     Dairy   38.0506            OUT018                      2009      Medium               Tier 3 Supermarket Type2           265.6542
          DRI03        6.030          Low Fat         0.022796     Dairy  178.1028            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1416.8224
          FDA26        7.855          Regular         0.000000     Dairy  220.1482            OUT018                      2009      Medium               Tier 3 Supermarket Type2          4600.0122
          DRC27       13.800          Low Fat         0.058339     Dairy  246.2802            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1228.4010
          FDC04       15.600          Low Fat         0.045169     Dairy  242.9854            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2175.1686
          FDK03       12.600          Regular         0.074222     Dairy  255.9356            OUT018                      2009      Medium               Tier 3 Supermarket Type2          4832.3764
          FDW38        5.325          Regular         0.139245     Dairy   53.0298            OUT018                      2009      Medium               Tier 3 Supermarket Type2           377.5086
          DRG03       14.500          Low Fat         0.062239     Dairy  154.2998            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1691.7978
          FDY15       18.250          Regular         0.171524     Dairy  155.8630            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2346.9450
          FDP26        7.785          Low Fat         0.140121     Dairy  102.5306            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1358.8978
          FDT02       12.600               LF         0.024293     Dairy   33.4874            OUT018                      2009      Medium               Tier 3 Supermarket Type2           105.8622
          FDC15       18.100          Low Fat         0.178694     Dairy  158.9288            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1571.2880
          DRF27        8.930          Low Fat         0.028533     Dairy  151.4340            OUT018                      2009      Medium               Tier 3 Supermarket Type2          1225.0720
          FDB03       17.750          Regular         0.157471     Dairy  239.1538            OUT018                      2009      Medium               Tier 3 Supermarket Type2          4326.3684
          FDV50       14.300          Low Fat         0.123071     Dairy  121.1730            OUT018                      2009      Medium               Tier 3 Supermarket Type2          2093.9410